
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes stretching {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}

.button {
    display: inline-block;  
    background-color: lightblue;  
    padding: 10px 20px;  
    text-decoration: none; 
    color: black;  
    font-size: 18px; 
    border-radius: 5px;  
    animation-name: stretching;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}

  
  